<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @plano_discagem.descricao %>
</p>


<%= link_to 'Edit', edit_plano_discagem_path(@plano_discagem) %> |
<%= link_to 'Back', planos_discagens_path %>
