<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @caixa_postal.descricao %>
</p>


<%= link_to 'Edit', edit_caixa_postal_path(@caixa_postal) %> |
<%= link_to 'Back', caixas_postais_path %>
