<table class="table table-striped">
  <thead>
    <tr>
      <th style="vertical-align: middle">Iax</th>
      <td><pre><%= @iax%></pre></td>
    </tr>
    <tr>
      <th style="vertical-align: middle">Sip</th>
      <td><pre><%= @peers%></pre></td>
    </tr>

    <tr>
      <th style="vertical-align: middle">Canais</th>
      <td><pre><%= @channels%></pre></td>
    </tr>

    <tr>
      <th style="vertical-align: middle">Canais</th>
      <td><pre><%= @voicemail%></pre></td>
    </tr>

  </thead>
  <tbody>

  </tbody>
</table>