<table class="table table-striped">
  <thead>
    <tr>
      <th style="vertical-align: middle">Usuários</th>
      <td><pre><%= @usuarios%></pre></td>
    </tr>

    <tr>
      <th style="vertical-align: middle">Pares</th>
      <td><pre><%= @peers%></pre></td>
    </tr>

    <tr>
      <th style="vertical-align: middle">Canais</th>
      <td><pre><%= @channels%></pre></td>
    </tr>

  </thead>
  <tbody>

  </tbody>
</table>